<div>
    <h2 class="mb-3">Upload Files</h2>

    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="onFilesDropped($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="w-100 h-100 text-center" style="position: relative; padding-top: 40px">
                <a role="button" class="stretched-link" (click)="openFileSelector()">
                    Drop Excel, CSV, or JSON files, or click to open one!
                </a>
            </div>
        </ng-template>
    </ngx-file-drop>
</div>
<form #mappingForm="ngForm" (ngSubmit)="mappingForm.valid && performProcessing()">

    <hr />

    <h2>Map Datasets</h2>

    <div class="d-flex mt-3">
        <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical" [destroyOnHide]="false"
            [(activeId)]="selectedMapping">
            <li [ngbNavItem]="input.schema.name" *ngFor="let input of inputs">
                <a ngbNavLink>{{ input.schema.name }}</a>
                <ng-template ngbNavContent>
                    <h3>{{ input.schema.name }}</h3>

                    <div class="form-group">
                        <select class="custom-select" style="width: 400px;" [(ngModel)]="input.fileDataset"
                            [name]="input.schema.name + '_fileDataset'" #fieldDatasetSelect="ngModel"
                            [disabled]="fileDatasets.length === 0"
                            [ngClass]="{ 'is-invalid': fieldDatasetSelect.invalid }" [required]="input.schema.required">
                            <option [ngValue]="null" *ngIf="!input.schema.required">[Empty]</option>
                            <option *ngFor="let inputFile of fileDatasets" [ngValue]="inputFile">{{ inputFile.name
                                }}
                            </option>
                        </select>
                    </div>

                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Target Column</th>
                                    <th>Source Column</th>
                                </tr>
                            </thead>
                            <tbody class="upload-name-style">
                                <tr *ngFor="let targetColumn of input.schema.columns">
                                    <td>{{ targetColumn.name }}</td>
                                    <td>
                                        <select class="custom-select" style="max-width: 400px;"
                                            [disabled]="!input.fileDataset || input.fileDataset.columns.length === 0"
                                            [name]="input.schema.name + '_fileDataset_' + targetColumn.name"
                                            #sourceColumnSelect="ngModel"
                                            [(ngModel)]="input.mappings[targetColumn.name]"
                                            [ngClass]="{ 'is-invalid': sourceColumnSelect.invalid }"
                                            [required]="targetColumn.required">
                                            <option
                                                *ngFor="let sourceColumn of (input.fileDataset ? input.fileDataset.columns : [])">
                                                {{ sourceColumn.name }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="ml-4"></div>
    </div>

    <hr />

    <div class="btn-toolbar mt-3">
        <div class="btn-group">
            <button class="btn btn-primary" (click)="performProcessing()"
                [disabled]="!mappingForm.valid">Process</button>
        </div>
    </div>
</form>